#numbers {
	width: 600px;
  	margin-left: auto;
  	margin-right: auto;
  	color: #FFFFFF;
}
::-webkit-scrollbar {
	display: none;
}
#main_wrapper {
	width: auto;
	height: 900px;
}
video#bgvid {
position: fixed; right: 0; bottom: 0;
min-width: 100%; min-height: 100%;
width: auto; height: 900px; z-index: -200;
background: url(poster.png) no-repeat;
background-size: cover;
}